

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(255, 145, 130);
    text-transform: uppercase;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  /* inverts nav color upon hover */
  li a:hover {
    background-color: white;
    color: rgb(255, 145, 130);
  }

  
 h1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    position:relative; }

 
 h2 {
    text-align: center;
    width: 150px;
    border: 3px solid rgb(255, 145, 130);
    padding: 30px 20px 30px 30px; 
  }



p {
    text-align: center;
    vertical-align: center;
    width: 200px;

}


/* inverts nav color upon hover */
.navi:hover {
  background-color: white;
  color: rgb(255, 145, 130);
}

#works {
    display: flex;
    flex-direction: column;
    align-items: center;
    position:relative;
}